.planner-canvas {
  position: relative;
  width: 100%;
  height: calc(100vh - 150px); 
  overflow: hidden;
  background-color: #ffffff;
}


.planner-canvas > :first-child {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  pointer-events: none; 
}


.konva-stage {
  position: absolute !important;
  top: 0;
  left: 0;
  z-index: 10;
}


canvas {
  display: block;
  margin: 0 !important;
  padding: 0 !important;
}